<h1>create new article </h1>
<%
#This is a form_with helper... It is from the ruby docs as a form helper.
#for form_with you use local: true.
#articles_path is inbuilt in RoR
%>
<%= form_with scope: :article,  url: articles_path, local: true do |f| %>
<%
################################################################
 # THE FOLLOWING IS AN EXCELLENT WAY TO DISPLAY ERRORS!!!!!!!!! 
 ###############################################################
%>
<% if @article.errors.any? %>
<h2>   Following errors prevented save: </h2>
    <ul>
    <% #Remember, do loops need an end too! %>
    <% @article.errors.full_messages.each do |msg| %>
       <li> <%= msg %> </li>
    <% end %>
       </ul>

<% end %>



<p>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
</p>

<p>
    <%= f.label :description %>
    <br>
    <%= f.text_area :description %>
</p>

<p>
    <%= f.submit %>
</p>

<% end %>