<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <% #this will render _messages.html.erb, or include all of the code here.  Cleans up the code. (Kind of like an import or module) %>
    <%= render 'layouts/messages' %>
    <%= yield %>
  </body>
</html>
